@charset "UTF-8";

.profile-container {
	display:flex;
	align-content: center;
	justify-content: center;
	height:100%;
	flex-wrap: wrap;
}

.profile-form {
	width: 30%;
	padding: 30px;
	background: #ffffff;
	border-radius: 20px;
	box-shadow: 7.5px 7.5px 12px #a3b1c6, -7.5px -7.5px 20px #e0e5ec;
	display: flex;
	flex-direction: column;
}

.form-header {
	text-align: center;
	font-size: 20px;
	margin-block-start: 0px;
	margin-block-end: 1em;
}

.form-label {
	font-size: 16px;
	font-weight: bold;
}

.form-input {
	padding: 10px;
	border: 0px; font-size : 15px;
	margin-bottom: 25px;
	background: #ffffff;
	border-radius: 20px;
	box-shadow: 4px 4px 5px #a3b1c6;
	font-size: 15px;
}

.required {
	color: red;
	font-weight: bold;
}

.gender {
	display: flex;
	gap: 30px;
	align-items: center;
	margin-bottom: 15px;
}

.gender .form-label {
	margin-bottom: 0px;
}

.options {
	display: flex;
	gap: 3px;
	align-items: center;
}

.radio-input {
	margin: 0;
}

.radio-label {
	font-size: 15px;
}

.row-container {
	display: flex;
	justify-content: space-between;
}

.row-container input {
	width: 45%;
}

.password-confirm
{
	flex-direction: column;
}

.buttons {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.form-button {
	width: 20%;
	padding: 12px;
	background: #007BFF;
	color: white;
	border: none;
	border-radius: 25px;
	font-size: 16px;
	cursor: pointer;
	transition: background 0.3s;
}

.form-button:hover {
	background: #0056b3;
}

.double-column {
	display: flex;
	justify-content: space-between;
}

.part, .part-with-icon {
	display: flex;
	flex-direction: column;
	width: 48%;
	position: relative;
}

.part-with-icon .form-input {
	padding-right: 35px;
}

.part-with-icon .material-symbols-outlined {
	position: absolute;
	bottom: 20px;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #000000;
	font-size: 25px;
	pointer-events: none;
}

.error-message {
	height: 20px;
	overflow: hidden;
}