@charset "UTF-8";

body {
	margin: 0;
	width: 100%;
	background-color: #FFFF;
	display: flex;
	flex-direction: column;
	padding-top: 6.5vh;
}

.inner-body {
	width: 100%;
	height: 88.5vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.login-image {
	width: auto;
	height: 700px;
	padding-right: 300px;
}

.out-box {
	width: 450px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.box {
	position: relative;
	width: 300px;
	height: 150px;
	filter: drop-shadow(0 15px 50px #ccc);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	background: #ffffff;
	border-radius: 20px;
}

.box:hover {
	width: 450px;
	height: 500px;
}

.box:hover .login {
	inset: 25px;
}

.box:hover .login-form {
	transform: translateY(0px);
}

.login {
	position: absolute;
	inset: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	background: #ffffffcc; /* semi-transparent white */
	color: #222;
	z-index: 1000;
	box-shadow: inset 0 10px 20px #cccccc80;
	border-bottom: 2px solid #dddddd80;
	transition: 0.5s;
	overflow: hidden;
}

.login-form {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 70%;
	transform: translateY(148px);
	transition: 0.5s;
}

h2 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2em;
	margin-block-start: 0px;
	color: #333;
}

h2 i {
	color: #0078D7;
	text-shadow: 0 0 5px #89CFF0, 0 0 15px #89CFF0;
}

input {
	width: 100%;
	padding: 10px 20px;
	outline: none;
	border: none;
	font-size: 1em;
	color: #333;
	background: #f9f9f9;
	border: 2px solid #ccc;
	border-radius: 30px;
}

input::placeholder {
	color: #888;
}

input[type="submit"] {
	background: #0078D7;
	border: none;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
	transition: 0.5s;
}

input[type="submit"]:hover {
	box-shadow: 0 0 10px #89CFF0, 0 0 30px #89CFF0;
}

.group {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.group a {
	color: #333;
	text-decoration: none;
}

.group a:nth-child(2) {
	color: #0078D7;
	font-weight: 600;
}
